name: CD

on:
  push:
    branches:
      - master
      
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      with:
        host: "3.66.28.74"
        username: "ubuntu"
        key: ${{ secrets.web_key }}
        port: "22"
        script: |
          cd /home/ubuntu/web-test
          git pull
          sudo docker-compose down
          sudo docker-compose up -d
