name: WEB CI/CD

on:
  push:
    branches:
    - master
    
jobs:
  ci:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v1
      - name: ls
        run: |
          ls
  #cd:
   # runs-on: ubuntu-latest
    #needs: ci
    
    #steps:
     # - uses: actions/checkout@v1
     # - name: Docker login
     #   run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASSWORD }}
        
